<!DOCTYPE html>
<html>
  <head>
    <title>Stripe</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://js.stripe.com/v2/"></script>
    <script>
      Stripe.setPublishableKey('pk_test_8tDsyhfYkYrapqB9JHQIYRL2');
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
